@using SpaceSidePizzaria.Models;
@model List<OrderPO>

@{
    ViewBag.Title = "View Pending Orders";
}

<div class="container">
    @if (Model.Count == 0)
    {
        <h3>There are no pending orders.</h3>
    }
    else
    {
        <h2>Pending Orders</h2>

        <table class="striped bordered">
            <thead>
                <tr>
                    <th class="capitalize">Buyer Name</th>
                    <th>Status</th>
                    <th>Delivery Order</th>
                    <th>Paid For</th>
                    @if (Model.Any(orderPO => !String.IsNullOrEmpty(orderPO.DriverFirstName)))
                    {
                        <th>Driver Name</th>
                    }
                    <th>Order Date</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (OrderPO order in Model)
                {
                    <tr>
                        <td class="capitalize">@Html.ActionLink(order.BuyerName, "UserDetails", "Account", new { ID = order.UserID }, null)</td>
                        @if (order.Status != "En Route")
                        {
                            if (order.IsDelivery)
                            {
                                <td>
                                    @Html.DropDownListFor(model => order.Status, order.StatusSelectListItemsDelivery, new { @id = $"{order.OrderID}" })
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DropDownListFor(model => order.Status, order.StatusSelectListItemsPickup, new { @id = $"{order.OrderID}" })
                                </td>
                            }
                        }
                        else
                        {
                            <td>
                                @order.Status
                            </td>
                        }

                        <td>@order.IsDelivery</td>
                        <td>@order.Paid</td>
                        @if (Model.Any(orderPO => !String.IsNullOrEmpty(orderPO.DriverFirstName)))
                        {
                            <td>@order.DriverFirstName</td>
                        }
                        <td>@order.OrderDate</td>
                        <td>
                            @Html.ActionLink("Details", "OrderDetails", "Order", new { ID = order.OrderID }, null) |
                            @Html.ActionLink("Delete", "DeleteOrder", "ORder", new { ID = order.OrderID }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<script src="~/Scripts/statusChanger.js"></script>