
@using SpaceSidePizzaria.Models
@model PizzaPO

@{
    ViewBag.Title = "Create Pizza";
}

<div class="container">
    <h2>Add a New Pizza Product</h2>

    <div class="row">
        @using (Html.BeginForm("CreatePrefabPizza", "Pizza", FormMethod.Post))
        {
            if (TempData.ContainsKey("ErrorMessage"))
            {
                <p class="red-text">@TempData["ErrorMessage"]</p>
            }

            @Html.HiddenFor(model => model.PizzaID)
            @Html.HiddenFor(model => model.OrderID);

            <div class="col s12 m8 l5">

                <div class="input-field">
                    @Html.DropDownListFor(model => Model.Crust, Model.CrustSelectListItems)
                    @Html.LabelFor(model => Model.Crust)
                    @Html.ValidationMessageFor(model => Model.Crust, null, new { @class = "red-text" })
                </div>

                <p>
                    @Html.CheckBoxFor(model => Model.Cheese)
                    @Html.LabelFor(model => Model.Cheese)
                    @Html.ValidationMessageFor(model => Model.Cheese, null, new { @class = "red-text" })
                </p>

                <div class="input-field">
                    @Html.DropDownListFor(model => Model.Size, Model.SizeSelectListItems)
                    @Html.LabelFor(model => model.Size)
                    @Html.ValidationMessageFor(model => Model.Size, null, new { @class = "red-text" })
                </div>

                <div class="input-field">
                    @Html.ListBoxFor(model => Model.ToppingsList, Model.ToppingsSelectListItems)
                    @Html.LabelFor(model => Model.Toppings)
                    @Html.ValidationMessageFor(model => Model.Toppings, null, new { @class = "red-text" })
                </div>

                <div class="input-field">
                    @Html.DropDownListFor(model => Model.Sauce, Model.SauceSelectListItems)
                    @Html.LabelFor(model => Model.Sauce)
                    @Html.ValidationMessageFor(model => Model.Sauce, null, new { @class = "red-text" })
                </div>

                <div class="input-field">
                    @Html.TextBoxFor(model => Model.ImagePath)
                    @Html.LabelFor(model => Model.ImagePath)
                    @Html.ValidationMessageFor(model => Model.ImagePath, null, new { @class = "red-text" })
                </div>

                <div class="input-field">
                    @Html.TextBoxFor(model => Model.Price)
                    @Html.LabelFor(model => Model.Price)
                    @Html.ValidationMessageFor(model => Model.Price, null, new { @class = "red-text" })
                </div>

                <div class="input-field">
                    @Html.TextBoxFor(model => Model.Description, new { @Value = "" })
                    @Html.LabelFor(model => Model.Description)
                    @Html.ValidationMessageFor(model => Model.Description, null, new { @class = "red-text"})
                </div>

                <button class="btn purple darken-3 waves-effect waves-light" type="submit">Submit</button>
            </div>
        }
    </div>
</div>