@using SpaceSidePizzaria.Models;
@model LoginPO
@{
    ViewBag.Title = "Login";
}

<div class="container">
    <h2>Login</h2>

    <div class="row">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            if (TempData.ContainsKey("ErrorMessage"))
            {
                <p class="red-text">@TempData["ErrorMessage"]</p>
            }

            <div class="col s12 m5">
                <div class="input-field">
                    @Html.TextBoxFor(model => Model.Username)
                    @Html.LabelFor(model => Model.Username)
                    @Html.ValidationMessageFor(model => Model.Username, null, new { @class = "red-text" })
                </div>

                <div class="input-field">
                    @Html.PasswordFor(model => Model.Password)
                    @Html.LabelFor(model => Model.Password)
                    @Html.ValidationMessageFor(model => Model.Password, null, new { @class = "red-text" })
                </div>
                <button type="submit" class="purple darken-3 btn waves-light waves-effect">Login</button>

            </div>
        }
    </div>
</div>